@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hubballi&family=Lobster&display=swap');
*{
    margin:0;
    padding:0;
}

body{
    
    margin:0;
    
}
.site-header{
    background-color:#890ce29a;
    color: azure;
    height:100vh;
    font-family:'Dancing Script';
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color:#a2e5ee

}
.site-header-content{
    margin:10px;
}
#profile-pic{
    margin-top:10px;
    border-radius:50%;
    height:200px;
    width:200px;
    box-shadow: rgb(76, 0, 130) 2px 5px 5px;

}